@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Oswald:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body{
    background: url(./bg.png);
    background-size: cover;
    margin: 0;
    padding: 0;
} 
.nav{
    overflow: hidden;
    background-color: black;
    margin-top: -5px;
}
.nav a{
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 19px 22px;
    font-family: Montserrat;
    justify-items: center;
    text-decoration: none;
}  
.btn
{
    margin-left: 500px;
    padding: 5px 25px 5px;
    border-radius: 5px;
    background-color:rgb(215, 14, 215) ;
    border: 0;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
}
h1{
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: montserrat;
    font-size: 60px;
    margin-left: 500px;
    margin-top: 220px;
    
}
p{
    font-family: montserrat;
    font-size: 21px;
    font-weight: 30px;
    margin-left: 550px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
}
.bttn{
    margin-left: 680px;
    margin-top: 50px;
    padding: 19px 35px 19px;
    border-radius: 5px;
    background-color:rgb(215, 14, 215) ;
    border: 0;
    color: rgb(255, 255, 255);
    font-family: Montserrat; 
    font-size: 20px;
}
.nav a:hover{
    background-color: purple;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.bttn :hover{
    background-color: purple;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}